# CORTX-CSM: CORTX Management web and CLI interface.
# Copyright (c) 2020 Seagate Technology LLC and/or its Affiliates
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
# For any questions about this software or licensing,
# please email opensource@seagate.com or cortx-questions@seagate.com.

[Install]
WantedBy=multi-user.target

[Unit]
Description=Cloud Storage Manager
# Wants=rabbitmq-server.service
# After=rabbitmq-server.service syslog.target
# Requires=rabbitmq-server.service

[Service]
Type=forking
PermissionsStartOnly=true
#ExecStartPre=
ExecStartPre=/usr/bin/mkdir -p /var/run/csm
ExecStartPre=/usr/bin/touch /var/run/csm/csm_agent.pid
ExecStartPre=/usr/bin/chown <USER>:<USER> /var/run/csm/csm_agent.pid
ExecStart=/usr/bin/csm_agent
#ExecStopPost=/sbin/fuser -k 28101/tcp
ExecStopPost=/usr/bin/rm -rf /var/run/csm/csm_agent.pid
PIDFile=/var/run/csm/csm_agent.pid
User=<USER>
# Auto restart option is enabled depending on the system installation type.
#< RESTART_OPTION >
TimeoutStartSec=300
