[Install]
WantedBy=multi-user.target

[Unit]
Description=Cloud Storage Manager
# Wants=rabbitmq-server.service
# After=rabbitmq-server.service syslog.target
# Requires=rabbitmq-server.service

[Service]
Type=forking
PermissionsStartOnly=true
ExecStartPre=
ExecStartPre=/usr/bin/mkdir -p /var/run/csm /var/log/csm
ExecStartPre=/usr/bin/chown csm:csm /var/run/csm /var/log/csm
ExecStart=/usr/bin/csm_agent
ExecStopPost=/sbin/fuser -k 28101/tcp
ExecStopPost=/bin/rm -rf /var/run/csm/csm_agent.pid
PIDFile=/var/run/csm/csm_agent.pid
User=csm

# Restart=on-failure
TimeoutStartSec=300
