# PRODUCT
PRODUCT
    name: "eos"

# CSM HA
HA:
    primary: "node1"
    secondary: "node2"
    resources: [ "APPSV", "WEBSV" ]

# CSM RESOURCES:
RESOURCES:
    APPSV:
        service: "appsv"
        resource: "APPSV"
        provider: "systemd"
        interval: [ "10s", "10s", "10s" ] # Start stop monitor
        timeout: [ "10s", "10s", "10s" ]

    WEBSV:
        service: "websv"
        resource: "WEBSV"
        provider: "systemd"
        interval: [ "10s", "10s", "10s" ]
        timeout: [ "10s", "10s", "10s" ]

# AMQP Channel
CHANNEL:
    host: "localhost"
    virtual_host: "SSPL"
    username: "sspluser"
    password: "sspl4ever"
    exchange_type: "topic"
    exchange: "sspl_out"
    exchange_queue: "sensor-queue"
    routing_key: "sensor-key"
    retry_count: "1"
