# PRODUCT
PRODUCT:
    name: "eos"
    uuid: "bae4b468-565d-49df-9495-a43a5d89babc"
    friendly_name: "local"

# CSM SERVICE
CSM_SERVICE:
    CSM_AGENT:
        host: "127.0.0.1"
        port: 8101
        ssl_check: false

    CSM_WEB:
        host: "127.0.0.1"
        port: 8100
        ssl_check: false

# CSM HA
HA:
    primary: "node1"
    secondary: "node2"
    resources: [ "APPSV", "WEBSV" ]

# CSM RESOURCES:
RESOURCES:
    APPSV:
        service: "csm_agent"
        resource: "APPSV"
        provider: "systemd"
        interval: [ "10s", "10s", "10s" ] # Start stop monitor
        timeout: [ "10s", "10s", "10s" ]

    WEBSV:
        service: "csm_web"
        resource: "WEBSV"
        provider: "systemd"
        interval: [ "10s", "10s", "10s" ]
        timeout: [ "10s", "10s", "10s" ]

# AMQP Channel
CHANNEL:
    host: "localhost"
    virtual_host: "SSPL"
    username: "sspluser"
    password: "sspl4ever"
    exchange_type: "topic"
    exchange: "sspl-out"
    exchange_queue: "sensor-queue"
    routing_key: "sensor-key"
    retry_count: "1"

# Stats
STATS:
    PROVIDER:
        name: "timelion"
        host: "localhost"
        port: 5601
        ssl_check: false
        interval: 10 # Flush interval in sec (Rate at which stats is stored)

# S3
S3:
    host: "localhost"
    iam_port: 9080
    s3_port: 80
    max_retries_num: 1
    ldap_login: "sgiamadmin"
    ldap_password: "ldapadmin"

#Logging
Log:
    log_level: "INFO"
    log_path: "/var/log/csm"
    file_size: 10
    total_files: 10

#CSMCLI
    csm_agent_host: "127.0.0.1"
    csm_agent_port: 8101
    csm_agent_base_url: "http://"

