# Redirect s3 logs
if $syslogtag == 'FILENAMETAG' then
{
    action(type="omfile"
           dirCreateMode="0700"
           FileCreateMode="0644"
           File="/var/log/seagate/node/FILE")
    stop
}

