module(load="omprog")
# Enable log redirection for IEM and important messages
if ($msg contains "IEC:" ) or ( $syslogseverity < 6 ) then
{
    set $!message = $msg;
    action(type="omprog"
       binary="<CSM_PATH>/core/blogic/send_email.sh $!message p2 --param3=\"value 3\"")
}
