conf json:///home/934748/git/forkrepo/cortx-manager/csm/conf/csm.post_install.tmpl.3-node set -d '=' 'cortx>software>syslog>host=127.0.0.1;cortx>software>syslog>port=514'{
  "cortx": {
    "software": {
      "csm": {
        "user": "cortxub"
      },
      "syslog": {
        "host": "127.0.0.1",
        "port": "514"
      }
    }
  },
  "server_node": {
    "bdf68ed0efc148ce8d580aef3cc6420c": {
      "type": "VM",
      "storage": {
        "enclosure_id": "encbdf68ed0efc148ce8d580aef3cc6420c"
      }
    }
  },
  "storage_enclosure": {
    "encbdf68ed0efc148ce8d580aef3cc6420c": {
      "type": "virtual"
    }
  }
}