{
  "cortx": {
    "software": {
      "csm": {
        "user": "cortxub",
        "secret": "gAAAAABgZF7KOL5wqOwt_VpJ0B0tXHlsbfARqKldkiVtOeGpEjBq_Ws38qHHAo27zCPIKGSaXqSAgGXTzFJMZRTrXWWn6Pivsg=="
      },
      "openldap": {
        "sgiam": {
          "user": "sgiamadmin",
          "secret": "gAAAAABgZF7KOL5wqOwt_VpJ0B0tXHlsbfARqKldkiVtOeGpEjBq_Ws38qHHAo27zCPIKGSaXqSAgGXTzFJMZRTrXWWn6Pivsg=="
        }
      },
      "cluster_credential":{
        "admin": "cortxadmin",
        "password": "Cortxadmin@123",
        "email":"cortxadmin@seagate.com"
      }
    }
  },
  "server_node": {
    "bdf68ed0efc148ce8d580aef3cc6420c": {
      "type": "VM",
      "name": "srvnode-1",
      "hostname": "ssc-vm-2623.colo.seagate.com",
      "cluster_id": "bae4b468-565d-49df-9495-a43a5d89babc",
      "storage": {
        "enclosure_id": "encbdf68ed0efc148ce8d580aef3cc6420c"
      },
      "network": {
        "data": {
          "private_fqdn": "127.0.0.1",
          "public_fqdn": "127.0.0.1"
        }
      }
    }
  },
  "storage_enclosure": {
    "encbdf68ed0efc148ce8d580aef3cc6420c": {
      "type": "virtual"
    }
  },
   "cluster": {
    "bae4b468-565d-49df-9495-a43a5d89babc": {
      "network": {
        "management": {
          "virtual_host": "127.0.0.1"
        }
      }
    }
  }
}