{
  "DEPLOYMENT": {
    "mode": "dev"
  },
  "storage_enclosure": {
    "enclosure_id": {
      "type": "other"
    },
    "network": {
        "data": {
          "public_fqdn": "localhost"
        }
      }
  },
  "server_node": {
    "bdf68ed0efc148ce8d580aef3cc6420c": {
      "type": "VM",
      "storage": {
        "enclosure_id": "enclosure_id"
      }
    }
  }
}