{
  "cortx": {
    "software": {
      "csm": {
        "user": "csm"
      }
    }
  },
  "server_node": {
    "bdf68ed0efc148ce8d580aef3cc6420c": {
      "type": "VM",
      "storage": {
        "enclosure_id": "TMPL_ENCLOSURE_ID"
      }
    }
  },
  "storage_enclosure": {
    "TMPL_ENCLOSURE_ID": {
      "type": "virtual"
    }
  }
}