<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
    <div>
        <p>Hi,</p>
        <p>You have received an alert with following details:</p>
        
        <table width="60%" style="border:1px solid black;border-collapse:collapse">
            <tbody>
                <tr>
                    <td width="15%" style="border:1px solid black;font-weight:bold;text-align:center;background-color:#6ebe49">Time</td>
                    <td width="35%" style="border:1px solid black;font-weight:bold;text-align:center;background-color:#6ebe49">Alert Target</td>
                    <td width="10%" style="border:1px solid black;font-weight:bold;text-align:center;background-color:#6ebe49">Severity</td>
                    <td width="40%" style="border:1px solid black;font-weight:bold;text-align:center;background-color:#6ebe49">Description</td>
                </tr>
                <tr>
                    <td style="border:1px solid black;word-wrap:break-word">{event_time}</td>
                    <td style="border:1px solid black;word-wrap:break-word">{alert_target}</td>
                    <td style="border:1px solid black;word-wrap:break-word">{severity}</td>
                    <td style="border:1px solid black;word-wrap:break-word">{description}</td>
                </tr>
            </tbody>
        </table>
        <p>Thanks,<br>
        EOS</p>
    </div>
</body></html>